*{
    margin: 0;
}

html,body{
    /*height: 100%;*/
    height: 99%;
}

*{
  -webkit-touch-callout:none; // リンク長押しのポップアップを無効化
  -webkit-user-select:none; // テキスト長押しの選択ボックスを無効化
  pointer-events: none;
}

#stats{
    position: absolute;
}
#main{
    position: absolute;
}

#game {
    display: none;
}

#prepare {
    text-align: center;
}
#prepare button{
    margin-top: 20%;
    width:50%;
}

.buttonForMobile{
    position: absolute;
    background-color: #00f;
    opacity:0;
}
.buttonForMobile.horizontal{
    top:20%;
    height:60%;
    width:20%;
}
.buttonForMobile.vertical{
    left:0;
    height:20%;
    width:100%;
}
.buttonForMobile.center{
    background-color: #0f0;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
}
#btnForMobileLeft{
    left:0;
}
#btnForMobileRight{
    right:0;
}
#btnForMobileTop{
    top:0;
}
#btnForMobileBottom{
    bottom: 0;
}
